/* #region Styles for desktop 1158px*/

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* #region Header  */

    .page-header {
        border-bottom: 1px solid #E7E9FC;
        box-shadow:
            2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .page-header .container {
        /* display: flex; */
        /* justify-content: space-between;
        align-items: center; */
    }

    /* .navigation {
        display: flex;
        align-items: center;
    } */

    /* .logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    } */

    /* .navigation .logo {
        margin-right: 76px;
        padding: 24px 0;
    } */

    .logo span {
        color: #2e2f42;
    }

    .top-menu {
        display: block;
        font-weight: 500;
        letter-spacing: 0.02em;
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
    }

    .navigation .top-menu .top-menu-item {
        color: #000000;
        display: block;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation .top-menu .top-menu-item:hover,
    .navigation .top-menu .top-menu-item:focus {
        color: #404BBF;
    }

    .navigation .top-menu .top-menu-item.current {
        color: #404BBF;
    }

    .top-menu-item.current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    /* .menu-item:first-child{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


    /* Address */
    .address .menu-contacts {
        font-style: normal;
        display: flex;
        gap: 40px;
    }

    /* .contact-li {
        margin-right: 40px;
    } */

    /* .contact-link {
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */

    /* .menu-contacts:last-child li {
        margin-right: 0;
    } */

    .contact-link:hover,
    .contact-link:focus {
        color: #404BBF;
    }

    /* #endregion */

    /* #region Section main-page - 1 */

    .main-page {
        background-color: #2E2F42;
        padding: 188px 0;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        margin: 0 auto;
    }

    .section .main-page-header {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        /*border: 1px dashed white;*/
        max-width: 496px;
        margin: 0 auto;

    }

    .section.main-page .main-button {
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        margin-top: 68px;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        display: block;
        margin: 48px auto 0;
        min-width: 169px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .section.main-page .main-button:hover,
    .section:first-child .main-button:focus {
        background-color: #404BBF;
        cursor: pointer;
    }

    /* #endregion */

    /* #region Section our-benefits - 2 */
    .section.benefits {
        padding: 120px 0 120px 0;
    }


    .benefits-list {
        flex-wrap: nowrap;
        column-gap: 24px;

    }

    .benefits-list .benefit-item {
        flex-basis: calc((100% - 24px) / 4);
    }

    .icon-thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8E8F99;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        height: 112px;
    }

    .benefits-list .benefits-header {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .benefits-list .benefits-paragraph {
        color: #434455;
        letter-spacing: 0.02em;
        font-size: 16px;
    }

    /* #endregion */

    /* #region Section our-team - 3 */

    .team-list {
        flex-wrap: nowrap;

    }

    .team-member {
        flex-basis: calc((100% - 72px) / 4);
    }

    .icon-list {
        display: flex;
        gap: 24px;
        justify-content: center
    }

    /* .icon-list .icon-item a {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */

    .icon-list .link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-list .link:hover,
    .icon-list .link:focus {
        background-color: #404bbf;
        cursor: pointer;
    }

    .icon-social {
        fill: var(--color-svg);
    }

    /* #endregion */

    /* #region Section our-portfolio - 4 */

    .porfolio-item {
        flex-basis: calc((100% - 48px)/3);
        transition: transform 250ms ease-in-out;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .porfolio-item:hover,
    .porfolio-item:focus {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    /* Image */



    /* Overlay text over portfolio item */
    .overlay {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: #4D5AE5;
        color: var(--color-svg);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

    .porfolio-item:hover .overlay,
    .porfolio-item:focus .overlay {
        transform: translateY(0%);
        height: 100%;
    }


    /* Thumb */
    .porfolio-item .thumb {
        transform: cursor;
        transition: transform 250ms ease-in-out;
    }

    .porfolio-item .thumb:hover,
    .porfolio-item .thumb:focus {
        cursor: pointer;
    }


    /* #endregion */

    /* #region Footer */


    .page-footer .container p {
        max-width: 264px;

    }

    .page-footer .container {
        max-width: 1126px;
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-evenly;
    }

    .message-footer {
        margin-right: 120px;
    }

    .page-footer .logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
    }

    .page-footer .logo .logo-studio {
        color: #f4f4fd
    }

    .page-footer .footer-paragraph {
        letter-spacing: 0.02em;
    }

    /* #region Social media */
    .social-footer-links {
        margin-right: 80px;
    }

    .social-description {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
    }

    .footer-icon-list {
        display: flex;
        gap: 16px;
    }

    .footer-icon-list .icon-item {
        width: 40px;
        height: 40px;
    }

    .icon-item a:hover,
    .icon-item a:focus {
        background-color: #31D0AA;
        cursor: pointer;
    }

    .icon-item a {
        width: 100%;
        height: 100%;
        background-color: var(--color-blue-a);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer-icon-list .icon:hover,
    .footer-icon-list .icon:focus {
        background-color: #31D0AA;
        cursor: pointer;
    }

    .footer-icon {
        fill: var(--color-svg);
    }

    /* #endregion */

    /* #region Footer subscribe form */
    .subscribe-footer {}

    .wraper-feedback-input {}

    .feedback-form {
        display: flex;
        align-items: flex-end;
        gap: 24px;
    }

    .feedback-label-input {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .feedback-paragraph {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
    }

    .feedback-input {
        width: 264px;
        height: 40px;
        border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        color: #fff;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px
    }

    .feedback-input::placeholder {
        color: #fff;
    }

    .feedback-input:placeholder-shown {
        /* border: 1px solid 404BBF; */
    }

    .feedback-input:hover::placeholder,
    .feedback-input:focus::placeholder {
        /* color: #404BBF; */

    }


    .feedback-btn {
        Font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        min-width: 165px;
        height: 40px;
        display: flex;
        /* gap: 16px; */
        justify-content: center;
        align-items: center;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
        padding: 8px 24px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .feedback-btn:hover,
    .feedback-btn:focus {
        background-color: #404BBF;
        cursor: pointer;
    }

    .icon-send {
        margin-left: 16px;
    }

    /* #endregion */

    /* #endregion */

    /* #region Modal */
    /* .modal-overlay {
        background-color: rgba(46, 47, 66, 0.4);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */

    .modal {
        /* background-color: #fcfcfc;
        border-radius: 4px;
        padding: 72px 24px 24px 24px;
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); */
        max-width: 408px;
        min-height: 584px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* 
    .modal .icon-close-wrapper {
        align-self: flex-end;
    }

    .modal-overlay.is-open {
        opacity: 1;
        pointer-events: auto;
    } */

    .icon-close-wrapper {
        /* width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7e9fc;
        margin-bottom: 24px;
        padding: 0; */
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-close-wrapper:hover,
    .icon-close-wrapper:focus {
        fill: #ffffff;
        background-color: #404BBF;
        border: none;
    }

    .icon-close {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-close-wrapper:hover .icon-close,
    .icon-close-wrapper:focus .icon-close {
        fill: #FFFFFF;
    }


    .icon-close-hover {

        opacity: 1;
    }

    /*
    .modal_header {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
        color: var(--color-navy);
    }

    .modal-form {
        display: flex;
        flex-direction: column;
    }

    .modal-form-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
        display: block;
        flex-direction: column;
        margin-bottom: 4px;

    }

     .form-wrapper {
        margin-bottom: 8px;
    }

    .label-text {
        margin-bottom: 4px;
    }

    .icon-input-wrapper {
        position: relative;
    } */



    .modal-form-input {
        /* width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        outline: transparent; */
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form-input:focus,
    .modal-form-input:hover {
        border-color: #4D5AE5;
        fill: #4D5AE5;
    }

    .form-input:placeholder-shown {
        border-color: #4D5AE5;
    }

    .icon-input {
        width: 18px;
        height: 24px;
        /* position: absolute;
        top: 50%;
        left: 16px;
        z-index: 1;
        transform: translateY(-50%); */
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .modal-form-input:focus-within+.icon-input {
        fill: #4D5AE5;
    }

    .form-wrapper-comment {
        margin-bottom: 16px;
    }

    .modal-form-comment {
        /* font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        padding: 8px 16px;
        width: 100%;
        height: 120px;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 40%);
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        resize: none; */
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-form-comment:hover,
    .modal-form-comment:focus {
        border-color: #4D5AE5;
    }

    .checkbox-wrapper {
        /* display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px; */
        width: 360px;

    }

    /* .privacy-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--color-light-grey);
    } */

    .privacy-label-span {
        /* height: 16px;
        width: 16px;
        border: 1px solid rgba(46, 47, 66, 40%);
        border-radius: 2px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        fill: transparent; */
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* .visually-hidden:checked+.privacy-label .privacy-label-span {
        background-color: var(--color-ocean);
        border: none;
        fill: var(--color-svg); */
}

/* .privacy-policy-descr {
        font-size: 12px;
        letter-spacing: 0.04;
        line-height: 1.17;
        color: #757575;
    } */

/* .privacy-policy-link {
        text-decoration: underline;
        color: var(--color-blue-a);
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04;
    } */

.modal-form-btn-send {

    /* margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 169px;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        background-color: var(--color-blue-a);
        color: #fff; */
    cursor: pointer;
    /* display: block; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn-send:hover,
.modal-form-btn-send:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* #endregion */


/* #endregion */