/* #region Styles for desktop 768px*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .mob-menu {
        display: none;
    }

    /* #region Header */
    .page-header {
        border-bottom: 1px solid #E7E9FC;
        box-shadow:
            2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .navigation .logo {
        margin-right: 76px;
        padding: 24px 0;
    }

    .logo span {
        color: #2e2f42;
    }

    .top-menu {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 0;
    }

    .address {
        display: block;
        margin-bottom: 0;
    }

    .navigation .top-menu .top-menu-item {
        color: #000000;
        display: block;
        padding: 24px 0;
        position: relative;
        /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    }

    .navigation .top-menu .top-menu-item.current {
        color: #404BBF;
    }

    .top-menu-item.current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    /* #region Address */
    .address .menu-contacts {
        font-style: normal;
        display: flex;
        row-gap: 12px;
    }

    .contact-li {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        margin-right: 40px;
    }

    .contact-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-contacts:last-child li {
        margin-right: 0;
    }


    /* #endregion */

    .burger-menu {
        display: none;
    }

    /* #endregion */

    /* #region  Section main-page - 1 */

    .main-page {
        background-color: #2E2F42;
        padding: 188px 0;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        margin: 0 auto;
    }

    .section .main-page-header {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        /*border: 1px dashed white;*/
        max-width: 496px;
        margin: 0 auto;

    }

    .section.main-page .main-button {
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4D5AE5;
        margin-top: 68px;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        display: block;
        margin: 48px auto 0;
        min-width: 169px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .section.main-page .main-button:hover,
    .section:first-child .main-button:focus {
        background-color: #404BBF;
        cursor: pointer;
    }

    /* #endregion */

    /* #region Section our-benefits - 2 */
    .section.benefits {
        padding: 96px 0 96px 0;
    }

    .benefits-list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 72px;
    }

    .benefits-list .benefit-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .icon-thumb {
        display: none;
    }

    .benefits-list .benefits-header {
        text-align: start;
    }


    /* #endregion */

    /* #region Section our-team - 3 */

    .section.team {
        padding: 120px 0;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 552px;
        row-gap: 24px;
        column-gap: 24px;
    }

    .team-member {
        flex-basis: calc((100% - 24px) / 2);
    }


    /* .icon-list .icon-item a {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } */

    .icon-social {
        fill: var(--color-svg);
    }

    /* #endregion */

    /* #region Section our-portfolio - 4 */

    .section.portfolio {
        padding: 120px 0 120px 0;
    }

    .section.portfolio .section-header {
        font-weight: 500;
    }

    .portfolio-list {
        column-gap: 24px;
    }

    .porfolio-item {
        flex-basis: calc((100% - 24px)/2);
        /* transition: transform 250ms ease-in-out;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    }

    /* .porfolio-item:hover,
    .porfolio-item:focus {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    } */


    .image-application {
        position: relative;
        overflow: hidden;
    }


    /* Thumb */
    /* .porfolio-item .thumb {
    
        transition: transform 250ms ease-in-out;
    } */

    /* .porfolio-item .thumb:hover,
    .porfolio-item .thumb:focus {
        cursor: pointer;
    } */

    /* #endregion */

    /* #region Footer */

    .page-footer {
        padding: 100px 0;
        flex-direction: row;
        justify-content: start;
        column-gap: 24px;
    }

    .page-footer .container p {
        max-width: 264px;

    }

    .page-footer .container {
        max-width: 736px;
        align-items: baseline;
        text-align: start;
    }

    .page-footer .logo {
        margin-bottom: 16px;
    }

    /* #region Social media */
    .social-footer-links {
        margin-right: 80px;
    }

    /* #endregion Social media*/

    /* #region Footer subscribe form */

    .feedback-form {
        flex-direction: row;
    }


    /* #endregion */

    /* #endregion Footer*/

    .modal {
        max-width: 408px;
        min-height: 584px;
        padding-top: 24px;
    }

    .modal-form-input:focus-within+.icon-input {
        fill: #4D5AE5;
    }

    .form-wrapper-comment {
        margin-bottom: 16px;
    }
}


/* #endregion */